In [1]:
a=2
id(a)

140707772142408

In [2]:
a= a+1
a

3

In [3]:
id(1)

140707772142376

In [4]:
id(1)

140707772142376

In [5]:
del(a)

In [6]:
def test2(x,y):
    print(x+y)
    
test2(3,4)

7

In [28]:
name = "전준모"
age = "31"
birth = "930511"



def wkrlthro(name, age, birth):
    print('''
    나의 이름은 {} 입니다
    나의 나이는  {} 이며 {} 대입니다
    나의 생일은 {} 입니다
    '''.format(name,age,(int)(age)//10*10,birth))

wkrlthro("전준모", "31", "930511")

    나의 이름은 전준모 입니다
    나의 나이는  31 이며 30 대입니다
    나의 생일은 930511 입니다

In [ ]:
week=['월','화','수','목','금','토','일']

print ("솔로몬 그런디는")
for i in week:
    if i == '월':
        print("월요일에 태어나서")
    if i == '화':
        print("화요일에 태어나서")
    if i == '수':
        print("수요일에 태어나서")
    if i == '목':
        print("목요일에 태어나서")
    if i == '금':
        print("금요일에 태어나서")
    if i == '토':
        print("토요일에 태어나서")
    if i == '일':
        print("일요일에 태어나서")
print ("솔로몬 그런디는 그렇게 살다 갔네")

In [38]:
# for  i in range(0, 51):
#     print("Victory")
    
j=0    
while j < 50 :
    j = j+1
    print (j, "Victory")

1 Victory
2 Victory
3 Victory
4 Victory
5 Victory
6 Victory
7 Victory
8 Victory
9 Victory
10 Victory
11 Victory
12 Victory
13 Victory
14 Victory
15 Victory
16 Victory
17 Victory
18 Victory
19 Victory
20 Victory
21 Victory
22 Victory
23 Victory
24 Victory
25 Victory
26 Victory
27 Victory
28 Victory
29 Victory
30 Victory
31 Victory
32 Victory
33 Victory
34 Victory
35 Victory
36 Victory
37 Victory
38 Victory
39 Victory
40 Victory
41 Victory
42 Victory
43 Victory
44 Victory
45 Victory
46 Victory
47 Victory
48 Victory
49 Victory
50 Victory

In [35]:
#아무 숫자나 입력을 5번 받아서 모두 더한 다음에 평균을 구하시오.
sum = 0
imsi = 0
for i in range(5):
    imsi = (int)(input("{}번째 숫자를 입력하시오 : ".format(i)))
    sum =sum + imsi
print(sum/5)

0번째 숫자를 입력하시오 : 546
1번째 숫자를 입력하시오 : 456
2번째 숫자를 입력하시오 : 43214
3번째 숫자를 입력하시오 : 1456
4번째 숫자를 입력하시오 : 21
45693

In [47]:
def agv ():
    sum = 0
    imsi = 0
    for i in range(5):
        imsi = (int)(input("{}번째 숫자를 입력하시오 : ".format(i)))
        sum =sum + imsi
    print(sum/5)
agv()

0번째 숫자를 입력하시오 : 12
1번째 숫자를 입력하시오 : 12
2번째 숫자를 입력하시오 : 12
3번째 숫자를 입력하시오 : 12
4번째 숫자를 입력하시오 : 12
12.0

In [18]:
num1 = 40

num2 = 30

a = num1 + num2 
b = num1 - num2
c = num1 * num2
d = num1 / num2

e = num1 % num2
f =num1 // num2
g =num1 ** num2

1152921504606846976000000000000000000000000000000

In [40]:
string1 = "My life"

string2 =  " is mine." 

string3 = string1 + string2
string3[0:7]
string4 = string3[-5:-1]

In [46]:
str1 = "Your life is yours"

str1[0:12]
(str1[0:4]+str1[-1]).lower()

'yours'

In [ ]:
'''"나는 아침마다 1잔의 우유를 마시고 네이버뉴스를 봅니다." 에서 1과 네이버뉴스를 
    포맷팅을 이용해서 작성해보시오.

'hello'문자열을 총 14칸으로 설정하고 왼쪽 붙임으로 포맷팅을 이용해서 작성해보시오.

'bye' 문자열을 총 10칸으로 설정하고 오른쪽 붙임으로 포맷팅을 이용해서 작성해보시오.

2.5679856 라는 소수를 소수점 5자리까지만 출력되도록 포맷팅을 이용해서 작성해보시오.

총 15칸으로 설정하고 소수점 3자리리까지만 출력되도록 포맷팅을 이용해서 작성해보시오.
'''

In [48]:
"---%s---"%'신문'

'---신문---'

In [49]:
"---%d---"%13

'---13---'

In [53]:
st1 = '바나나'
int1 = 100

"---%s---"%st1
"---%d---"%int1
"---%s---%d"%(st1,int1)

'---바나나---100'

In [56]:
print("---%10d---"%int1)
print("---%-10d---"%int1)

---       100---
---100       ---

In [63]:
print("---%f---"%3.14159233)
print("---%.3f---"%3.14159233)
print("---%.12f---"%3.14159233)
print("---%20.12f---"%3.14159233)
print("---%3.12f---"%3.14159233)
print("---%20.12f%%---"%3.14159233)

---3.141592---
---3.142---
---3.141592330000---
---      3.141592330000---
---3.141592330000---
---      3.141592330000%---

In [66]:
"{2} {0} {1}".format(10,20,30)

'30 10 20'

In [67]:
a= "abc"
srt1 = a*3

In [69]:
srt1.find("Z")
srt1.index("z")

ValueError: substring not found

In [73]:
print('\n'.join(str1))
'/'.join(['a','b','c'])

Y
o
u
r

l
i
f
e

i
s

y
o
u
r
s

'a/b/c'

In [74]:
str2 = "AbCdEfGh"
str2.upper()
str2.lower()
str2.swapcase()

'aBcDeFgH'

In [77]:
str3= '         132          '
str3.strip()
str4 = 'abc  def hij'
str4.replace('abc', '123')

'123  def hij'

In [78]:
str5 = '1,2,3,4,5,6,7'
str5.split(',')

['1', '2', '3', '4', '5', '6', '7']

In [83]:
'1'.isdigit()

True

In [ ]:
num1 = 40

num2 = 30

a = num1 + num2 
b = num1 - num2
c = num1 * num2
d = num1 / num2

e = num1 % num2
f =num1 // num2
g =num1 ** num2

In [ ]:
string1 = "My life"

string2 =  " is mine." 

string3 = string1 + string2
string3[0:7]
string4 = string3[-5:-1]

In [ ]:
str1 = "Your life is yours"

str1[0:12]
(str1[0:4]+str1[-1]).lower()

In [ ]:
'''"나는 아침마다 1잔의 우유를 마시고 네이버뉴스를 봅니다." 에서 1과 네이버뉴스를 
    포맷팅을 이용해서 작성해보시오.

'hello'문자열을 총 14칸으로 설정하고 왼쪽 붙임으로 포맷팅을 이용해서 작성해보시오.

'bye' 문자열을 총 10칸으로 설정하고 오른쪽 붙임으로 포맷팅을 이용해서 작성해보시오.

2.5679856 라는 소수를 소수점 5자리까지만 출력되도록 포맷팅을 이용해서 작성해보시오.

총 15칸으로 설정하고 소수점 3자리리까지만 출력되도록 포맷팅을 이용해서 작성해보시오.
'''

In [1]:
news = "나는 아침마다 1잔의 우유를 마시고 네이버뉴스를 봅니다." 

news[8] + news[20:25]

'1네이버뉴스'

In [4]:
print("나는 아침마다 %s잔의 우유를 마시고 %s를 봅니다." % (1,"네이버뉴스"))

print("%-20s"%"hello")

print("%10s"%"bye")

print("%.5f"%2.5679856)

print("%-15.3f"%2.5679856)

나는 아침마다 1잔의 우유를 마시고 네이버뉴스를 봅니다.
hello
       bye
2.56799
2.568

In [ ]:
# 문자열 함수 실습

# string1 = "My life is mine."

# string1을 소문자를 모두 대문자로 변환한 값을 string2로 만드시오.

# string2을 대문자를 모두 소문자로 변환한 값을 string3로 만드시오.

# string1을 소문자는 대문자로, 대문자는 소문자로 변환한 값을 string4로 만드시오.

# string2에서 m의 갯수는?

# string3에서 M 이 처음으로 나오는 자리는?

# 12345 사이에 ; 으로 구분자를 만드시오.

# string1에서 My를 Your로 변환시켜서 string4에 넣으시오.

In [7]:
string1 = "My life is mine."
string2 = string1.upper()
string3 = string2.lower()
string4 = string1.swapcase()

'MY LIFE IS MINE.'

In [ ]:
# "192.168.100.40" 을 리스트 형태로 만들어보시오.

# "abcdef"를 리스트 형태['a','b','c','d','e','f']로 만들어보시오

In [13]:
a ="192.168.100.40"
a.split()
b = "abcdef"
list(b)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# number=[1,2,3,4,5,6,7,8,9,10] 선언

# number 와 alpha 를 합쳐서 numalp 리스트 생성

# numalp 리스트에서

# 9번째 부터 11번째 까지 삭제할 것

# 8번째에 [11,12,13] 리스트 형태로 추가 할 것

# 1,2,3 번째 자리에 구성요소를 21,22,23 으로 교체 할 것

# numalp 리스트 끝에 100 추가 할 것

# number 리스트에서 모든 구성요소 모두 삭제 할 것

# numalp 리스트를 순서대로 정렬해볼 것

# numalp 리스트의 순서를 거꾸로 바꿔볼 것

In [13]:
#alpha1="abcde" 로 alpha=['a','b','c','d','e']를 만드시오
alpha1="abcde" 
alpha = list(alpha1)

number=[1,2,3,4,5,6,7,8,9,10] 
numalp = number + alpha
print (numalp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c', 'd', 'e']

In [14]:
numalp[9:11] = []

In [15]:
print (numalp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'b', 'c', 'd', 'e']

In [16]:
numalp.insert(8,[11,12,13])

In [17]:
print (numalp)

[1, 2, 3, 4, 5, 6, 7, 8, [11, 12, 13], 9, 'b', 'c', 'd', 'e']

In [18]:
numalp[1:3] = [21,22,23]

In [19]:
print (numalp)

[1, 21, 22, 23, 4, 5, 6, 7, 8, [11, 12, 13], 9, 'b', 'c', 'd', 'e']

In [20]:
numalp.append(100)

In [21]:
print (numalp)

[1, 21, 22, 23, 4, 5, 6, 7, 8, [11, 12, 13], 9, 'b', 'c', 'd', 'e', 100]

In [24]:
number.clear()
number

[]

In [26]:
#numalp.sort()

In [27]:
numalp.insert(2,['ㄱ','ㄴ','ㄷ'])

In [28]:
print (numalp)

[1, 4, ['ㄱ', 'ㄴ', 'ㄷ'], 5, 6, 7, 8, 21, 22, 23, [11, 12, 13], 9, 'b', 'c', 'd', 'e', 100]

In [29]:
numalp.pop(2)

['ㄱ', 'ㄴ', 'ㄷ']

In [30]:
numalp

[1, 4, 5, 6, 7, 8, 21, 22, 23, [11, 12, 13], 9, 'b', 'c', 'd', 'e', 100]

In [44]:
renumalp = []
ssss =[]
for i in range(len(numalp)):
    renumalp[i] = numalp[-(i+1)]
    ssss = ssss + renumalp[i]

IndexError: list assignment index out of range

In [ ]:
ssss

In [ ]:
list1=[]
for i in numalp :
    list.insert(0,i)

In [ ]:
lst_len = len(numalp)
for i in range(lst_len//2):
    numalp[i], numalp[lst_len-i-1] = numalp[lst_len-i-1], numalp[i]
print(numalp)

In [ ]:
for i in range((lst_len:=len(numalp))//2):
    numalp[i], numalp[lst_len-i-1] = numalp[lst_len-i-1], numalp[i]
print(numalp)

In [ ]:
alpha3 = alpha*3
alpha3.sort()
str1=""

for i in alpha3:
    str1=str1+i

In [23]:
a=1
b='a'
c= [1,2,3,4,]

list1 = [a,b,c]

list1[1:2]

['a']

In [24]:
list3 = [1,2,3,[4,5,6,[7,8,9]]]

In [25]:
list1

[1, 'a', [1, 2, 3, 4]]

In [1]:
list1=[]
list2=[]
info_list=['name', 'age', 'area']
i=0


while i <2:
    for j  in info_list:
        list1.append(input("{} : ".format(j)))
    list2.append(list1)
    print(list2)
    i=i+1
    list1= []
    print(list2)

name : lee
age : 45
area : bu
[['lee', '45', 'bu']]
[['lee', '45', 'bu']]
name : kim
age : 35
area : ku
[['lee', '45', 'bu'], ['kim', '35', 'ku']]
[['lee', '45', 'bu'], ['kim', '35', 'ku']]