In [2]:
subarksu = ({"수원님":"T"})

subarksu

{'수원님': 'T'}

In [17]:
# 튜플 실습

tu1=('a1','b1','c1')
tu2=('a2','b2','c2')

# tu1와 tu2를 합쳐서 tu3을 만드시오.
tu3 = tu1 + tu2
print(tu3)

# tu3 대상
# 4번째 자리의 구성요소는 무엇인가?
tu3[4]

# 3번째부터 6번째까지의 구성요소는 무엇인가?
tu3[3:6]

# tu3을 3번 반복해서 tu4를 만드시오.
tu4 = tu3*3
print(tu4)

# tu4에 'a1'이 몇개 있는지 확인해보시오.
tu4.count("a1")

# tu4에 첫번째 'b2'가 어느 위치에 있는 확인해보시오.
tu4.index('b2')

# tu4에 ([1,2,3],['a','b','c']) 를 추가해서 tu5를 만드시오.
tu5 = tu4 + ([1,2,3], ['a','b','c'])
print(tu5)

# tu5 안에 있는 1을 5로 수정하고 'b'를 'd'로 수정하시오.
tu5[-2][0] = 5
tu5[-1][1] = 'd'
print(tu5)

('a1', 'b1', 'c1', 'a2', 'b2', 'c2')
('a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a1', 'b1', 'c1', 'a2', 'b2', 'c2')
('a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a1', 'b1', 'c1', 'a2', 'b2', 'c2', [1, 2, 3], ['a', 'b', 'c'])
('a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a1', 'b1', 'c1', 'a2', 'b2', 'c2', [5, 2, 3], ['a', 'd', 'c'])

In [8]:
# 딕셔너리 실습

dic={"a":1,"b":2,"c":3,"d":4}

# key 리스트를 출력하시오.
print(list(dic.keys()))

# value 리스트를 출력하시오.
print(list(dic.values()))

# "e"이 key에 있는 확인해보시오.
'e' in dic

# 5 가 value에 있는지 확인해보시오.
5 in dic.values()

# input() 을 통해서 

# key     value   
# group : python
# name  : XXX
# age   : XX
# area  : XXX

# 을 입력받은 후 해당 내용으로 info 라는 딕셔너리를 생성하고

# info ={}
# while input("추가할거야? y/엔터를 누르면 그만"):
#     info[input()] = input()
    
info_list= ['group', 'name','age', 'area']
info_dic = {}

for i in info_list :
    info_dic[i] = input("{}: ". format(i))

print(info_dic)

# "내 group은 python 입니다."    
# "내 name은 XXX 입니다."       
# "내 age는 XX 이며 X대입니다." 
# "내 area은 XXX 입니다."       

# 이 출력 되도록 하시오.

# (hint :

# "내 group은 python 입니다."    => 내 key 은(는) value 입니다.
# "내 name은 XXX 입니다."       => 내 key 은(는) value 입니다.
# "내 age는 XX 이며 X대입니다."   => 내 key 은(는) value 이며 X대입니다..
# "내 area은 XXX 입니다."       => 내 key 은(는) value 입니다.


for i,j in info_dic.items():
    if i == 'age' :
        print ("내 {} 은/는 {}이고 {} 대 입니다.".format(i,j,int(j)//10*10))
    else :
        print ("내 {} 은/는 {} 입니다".format(i,j))

['a', 'b', 'c', 'd']
[1, 2, 3, 4]
추가해?y
group
python
추가해?y
name
XXX
추가해?y
age
XX
추가해?y
area
XXX
추가해?
{'python': 'group', 'XXX': 'area', 'XX': 'age'}

In [46]:
# 집합 실습

s1= {'a','c','e','b','d','f',1} 
s2={1,2,3,'b','d','f'}

# string1 = "BOYS, BE AMBITIOUS" 를 소문자로 변환 후에 집합 s3를 만드시오.
string1 = "BOYS, BE AMBITIOUS" 
s3 = set(string1.lower())

print (set(s3))

# s1, s2, s3의 교집합을 구하시오.
s1 & s2 & s3

# s1, s2, s3의 합집합을 구하시오.
s1 | s2 | s3

# s3, s2, s1 순으로 차집합을 구하시오.
s3 - s2 -s1

s3-(s2-s1)

s3.difference(s2.difference(s1))
# s1에 'g','h'문자열을 추가하시오.
s1.update(['g','h'])

# s2에 'A' 문자열을 추가하시오.
s2.update(['A'])

{'e', 't', 'u', 'b', ' ', 'm', 'o', 'a', ',', 's', 'i', 'y'}

{' ', ',', 'a', 'b', 'e', 'i', 'm', 'o', 's', 't', 'u', 'y'}

if 조건1 :
    코드A
elif 조건2:
    코드 B
elif 조건3:
    코드 C
else:
    코드 D

In [47]:
score = int (input("점수 : "))
if score >= 60:
    result = "success"
else:
    resuit = "failure"
print("result : ", result)

점수 : 65
result :  success

while 1 :
    code 1
    code 2
    while 2:
        code 3
        code 4
        if 조건1 : 
            break1   //while2의 반복만 벗어난다.
        code5
    if 조건2:
        break2

while 1:
    code1
    code2
    if 조건1:
        continue
    code3
    code4
    
1 2 조건1 X 3 4 / 1 2 조건1 O / 1 2 조건1 O / 1 2 조건1 x 3 4

In [54]:
#range(시작번호,종료번호(-1), 간격)
range ( 0,10)
list(range(1, 11, 2))

list1 = list("abcdeggdsjklgj")
list(range(len(list1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [56]:
for int1 in list1:
    print(int1)
    
for i in range(len(list1)):
    print(list1[i])

a
b
c
d
e
g
g
d
s
j
k
l
g
j
a
b
c
d
e
g
g
d
s
j
k
l
g
j

In [59]:
marks = [90,25,67,45,80]
for i in range(len(marks)):
    if marks[i] < 60 :
        continue
    print("{} 학생은 합격 점수는{}".format(i+1,marks[i]))

1 학생은 합격 점수는90
3 학생은 합격 점수는67
5 학생은 합격 점수는80

In [60]:
for i in range(2,10):
    for j in range(1,10):
        print("{} X {} = {}".format(i,j , i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [64]:
for i in range(2,10):
    for j in range(1,10):
        print("{} X {} = {}".format(i,j , i*j),end='')

2 X 1 = 2               2 X 2 = 4               2 X 3 = 6               2 X 4 = 8               2 X 5 = 10               2 X 6 = 12               2 X 7 = 14               2 X 8 = 16               2 X 9 = 18               3 X 1 = 3               3 X 2 = 6               3 X 3 = 9               3 X 4 = 12               3 X 5 = 15               3 X 6 = 18               3 X 7 = 21               3 X 8 = 24               3 X 9 = 27               4 X 1 = 4               4 X 2 = 8               4 X 3 = 12               4 X 4 = 16               4 X 5 = 20               4 X 6 = 24               4 X 7 = 28               4 X 8 = 32               4 X 9 = 36               5 X 1 = 5               5 X 2 = 10               5 X 3 = 15               5 X 4 = 20               5 X 5 = 25               5 X 6 = 30               5 X 7 = 35               5 X 8 = 40               5 X 9 = 45               6 X 1 = 6               6 X 2 = 12               6 X 3 = 18               6 X 4 = 24               6 X 5 = 30               6 X 6 = 36               6 X 7 = 42               6 X 8 = 48               6 X 9 = 54               7 X 1 = 7               7 X 2 = 14               7 X 3 = 21               7 X 4 = 28               7 X 5 = 35               7 X 6 = 42               7 X 7 = 49               7 X 8 = 56               7 X 9 = 63               8 X 1 = 8               8 X 2 = 16               8 X 3 = 24               8 X 4 = 32               8 X 5 = 40               8 X 6 = 48               8 X 7 = 56               8 X 8 = 64               8 X 9 = 72               9 X 1 = 9               9 X 2 = 18               9 X 3 = 27               9 X 4 = 36               9 X 5 = 45               9 X 6 = 54               9 X 7 = 63               9 X 8 = 72               9 X 9 = 81

In [66]:
for i in range(2,10):
    for j in range(1,10):
        print("{} X {} = {}".format(i,j , i*j),end = '   ')
    print(' ')

2 X 1 = 2   2 X 2 = 4   2 X 3 = 6   2 X 4 = 8   2 X 5 = 10   2 X 6 = 12   2 X 7 = 14   2 X 8 = 16   2 X 9 = 18
3 X 1 = 3   3 X 2 = 6   3 X 3 = 9   3 X 4 = 12   3 X 5 = 15   3 X 6 = 18   3 X 7 = 21   3 X 8 = 24   3 X 9 = 27
4 X 1 = 4   4 X 2 = 8   4 X 3 = 12   4 X 4 = 16   4 X 5 = 20   4 X 6 = 24   4 X 7 = 28   4 X 8 = 32   4 X 9 = 36
5 X 1 = 5   5 X 2 = 10   5 X 3 = 15   5 X 4 = 20   5 X 5 = 25   5 X 6 = 30   5 X 7 = 35   5 X 8 = 40   5 X 9 = 45
6 X 1 = 6   6 X 2 = 12   6 X 3 = 18   6 X 4 = 24   6 X 5 = 30   6 X 6 = 36   6 X 7 = 42   6 X 8 = 48   6 X 9 = 54
7 X 1 = 7   7 X 2 = 14   7 X 3 = 21   7 X 4 = 28   7 X 5 = 35   7 X 6 = 42   7 X 7 = 49   7 X 8 = 56   7 X 9 = 63
8 X 1 = 8   8 X 2 = 16   8 X 3 = 24   8 X 4 = 32   8 X 5 = 40   8 X 6 = 48   8 X 7 = 56   8 X 8 = 64   8 X 9 = 72
9 X 1 = 9   9 X 2 = 18   9 X 3 = 27   9 X 4 = 36   9 X 5 = 45   9 X 6 = 54   9 X 7 = 63   9 X 8 = 72   9 X 9 = 81

In [67]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 1. print(3 == 5)
print(3 == 5)


# 2. print(3 < 5)
print(3 < 5)


# 3.
x = 4
print(1 < x < 5)



# 4.
# print ((3 == 3) and (4 != 3))
print ((3 == 3) and (4 != 3))


# 5.

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

In [ ]:
# 6. input()을 통해서  "안녕하세요"를 입력한 경우 2번씩 출력 하도록 하시오.

input1 = input()

for i in range(2):
    print("내가 입력한 것은 {}".format(input1))


# 7. input()을 통해서  하나의 숫자를 입력 받고 짝수/홀수를 판별하는 코드를 작성해보시오.

num1 = input()

if (int)(num1)%2 == 0 :
    print("짝수")
else :
    print("홀수")


# 8. input()을 통해서 숫자를 입력받은 후 해당 값에 20을 더한 값을 출력하시오.
#     단 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력되도록 해야합니다.
num2 = input()

if (int)(num2) + 20 > 255:
    print(255)
else:
    print((int)(num2)+20)


# 9. input()을 통해서 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
#     단 출력 값의 범위는 0~255으로 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 합니다.

num4 =input()
if (int)(num4) -20 < 0 :
    print(0)
elif (int)(num4) -20 > 255 :
    print(255)
else :
    print((int)(num4) -20)

In [106]:
# 10. fruit 딕셔너리가 정의되어 있습니다.
#     input()을 통해서 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

season = input()

list(fruit.keys()).count("봄")

for i in range(len(list(fruit.keys()))):
    if list(fruit.keys()).count(season) != 0:
        print("정답입니다")
        break
    else :
        print ("오답입니다.")

가을
정답입니다

In [109]:
# 11. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있습니다. input()을 통해서 score를 입력받아 학점을 출력해보시오.
    
# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E

score = input()

if (int)(score) > 80 and (int)(score) <101:
    print("A")
elif (int)(score) > 60 and (int)(score) <81:
    print("B")
elif (int)(score) > 40 and (int)(score) <61:
    print("C")
elif (int)(score) > 20 and (int)(score) <41:
    print("D")
else :
    print("E")

54
C

In [5]:
# 12. input()을 통해서 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성
#     각 통화별 환율은 다음과 같습니다.
#     100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정

# 통화명	환율
# 달러	1167
# 엔	1.096
# 유로	1268
# 위안	171

USD = 1167
JPY = 1.096
EUR = 1268
CNY = 171

ko = input()
K = (int)(ko)
print ("{} 달라".format(USD*K))
print ("{} 엔".format(JPY*K))
print ("{} 유로".format(EUR*K))
print ("{} 위안".format(CNY*K))

5
5835 달라
5.48 엔
6340 유로
855 위안

In [ ]:
# 해당 결과를 예측하시오

# 13 
과일 = ["사과", "귤", "수박"]
for i in 과일:
     print(i)



# 14
for i in ["A", "B", "C"]:
    b = i.lower()
    print("변환:", b)

In [10]:
# 15. 다음 코드를 for문으로 작성하라.

# 변수 = 10
# print(변수)

# 변수 = 20
# print(변수)

# 변수 = 30
# print(변수)

for i in range(3) :
    sum = input("변수 = ")
    print("print({})".format(sum))

변수 = 10
print(10)
변수 = 20
print(20)
변수 = 30
print(30)

In [6]:
# 16. 다음 코드를 for문으로 작성하라.

# print(10)
# print("-------")
# print(20)
# print("-------")
# print(30)
# print("-------")

s= input().split()

    
for i in s :
    print("print({})".format(i))
    print('print("------")')

10 20 30
print(10)
print("------")
print(20)
print("------")
print(30)
print("------")

In [7]:
# 17. 다음 코드를 for문으로 작성하라.

# print("++++")
# print(10)
# print(20)
# print(30)

a= input().split()

print("++++")
for i in a :
    print("print({})".format(i))

10 20 30
++++
print(10)
print(20)
print(30)

In [23]:
# 18. 리스트에는 네 개의 문자열이 바인딩돼 있습니다.
han = ["가", "나", "다", "라"]
# 다음과 같이 출력하시오.

# 나
# 다
# 라

# for i in range(len(han)-1) : 
#     print(han[i+1])

# 19. han list를 이용해서 다음과 같은 결과가 나오도록 하시오.

# 가
# 다

for i in range(len(han)): 
    print(han[i])


# 20. han list를 이용해서 다음과 같은 결과가 나오도록 하시오.

# 라
# 다
# 나
# 가


# for i in range(len(han)) : 
#     print(han[-(i+1)])

SyntaxError: cannot assign to expression (285831760.py, line 17)

In [96]:
# 21. str1 = ["I", "study", "python", "language", "!"] 에서 세 글자 이상의 문자를 화면에 출력하시오



# 22, file = ['intra.h', 'intra.c', 'define.h', 'run.py']에서 확장자가 .h인 파일 이름을 출력하시오.



# 23. file = ['intra.h', 'intra.c', 'define.h', 'run.py']에서 확장자가 .h나 .c인 파일을 화면에 출력하시오.



# 24. for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하시오.



# 25. 월드컵은 4년에 한 번 개최됩니다. 
#     range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하시오.



# 26. 리스트에 저장된 데이터를 아래와 같이 출력하시오.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호



# 27. 리스트에 저장된 데이터를 아래와 같이 출력하시오.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호



# 28. 리스트에 저장된 데이터를 아래와 같이 출력하시오.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호



# 29. 리스트에 저장된 데이터를 아래와 같이 출력하시오.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----




# 30. 리스트에 저장된 데이터를 아래와 같이 출력하시오.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----




# 31. 리스트에 저장된 데이터를 아래와 같이 출력하시오.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
# -----





# 32. 1~100 까지의 숫자 중에서 짝수만 더한 수를 출력하시오.



# 33. input() 함수를 통해서 4를 입력했을 때만 while 문이 정지되도록 하시오.




# 34. while을 이용해서 구구단을 출력해보시오.



# 35. while을 이용해서 짝수에 대한 구구단을 출력해보시오.




# 36. input() 함수를 통해서 짝수를 입력했을 경우에는 해당 숫자에 대한 구구단을 출력하고 홀수를 입력했을 경우에는 다시 입력창이 뜨도록 하시오. 
#    단 1자리 숫자에 대해서만 해당 프로그램을 진행하고 2자리 이상을 입력했을 경우에는 프로그램이 종료되도록 하시오.

봅
오답입니다.
오답입니다.
오답입니다.
55
A

In [ ]:
# 가위 바위 보

srp1=['가위','바위','바위','바위','보','가위','가위','보','가위','보']

# input()으로 입력할때 마다 srp1의 구성요소 하나씩 차례대로 비교해서 10번 진행하고 승패에 대해서 결과를 출력하겠끔 작성하시오.

# X승 X패 X비김 (잘못냈을 경우도 패로 인정)

# (hint: for srp  in  srp1:)

w = 0
l = 0
d = 0

for srp in srp1:
    user = input("가위,바위,보 : ")
    if user not in ['가위', '바위', '보']:
        print("잘못 냈습니다")
        l = l +1
    elif user == srp :
        print("비겼습니다")
        d = d +1
    elif user =='가위':
        if srp == '보':
            print("이겼습니다")
            w = w+1
        else:
            print("졌습니다")
            l = l+1
    elif user =='바위':
        if srp == '가위':
            print("이겼습니다")
            w = w+1
        else:
            print("졌습니다")
            l = l+1
    elif user =='보':
        if srp == '바위':
            print("이겼습니다")
            w = w+1
        else:
            print("졌습니다")
            l = l+1
            
print (" {}승 {}패 {}비김".format(w,l,d))

In [1]:
# 통장에서 10,000원이 들어있다. 

# input()를 통해서 입력을 '출금'과 '입금'을 입력받고 금액부분을 입력받도록 하시오.

# 출금을 하면 "XXX원이 출금되었습니다. 현재 잔고는 XXX입니다." 출력

# 예금을 하면 "XXX원이 입금되었습니다. 현재 잔고는 XXX입니다." 출력

# 출금시에 잔고가 부족하면 "현재 잔고 부족입니다. XXX가 부족합니다." 라고 출력

# 통장잔고가 0원이 되면 "통장을 파기합니다" 출력


atm = 10000

while True:
	cmd = input("입금, 출금을 선택해주세요 : ")
	if cmd not in ["입금","출금"]:
		print("잘못 입력하셨습니다.")
	elif cmd == "입금":
		inmoney = int(input("입금 금액 : "))
		atm=atm+inmoney
		print("{}가 입금되었습니다. 현재 잔고는 {}입니다.".format(inmoney,atm))
	else:
		outmoney=int(input("출금 금액 : "))
		if atm >= outmoney:
			atm=atm-outmoney
			print("{}가 출금되었습니다. 현재 잔고는 {}입니다.".format(outmoney,atm))
		else:
			print("{}을 요청하셨지만 잔액이 {} 부족합니다. 현재 잔고는 {}입니다.".format(outmoney,outmoney-atm,atm))

	if atm == 0:
		print("현재 잔고가 {} 입니다. 통장을 파기 합니다".format(atm))
		break