입력값도 있고 출력도 있습니다.      >> input()
<br>
입력값은 있지만 출력 값이 없다      >> print()
<br>
입력값은 없지만 출력이 있다         >> 
<br>
입력값도 없고 출력도 없어           >> exit() ??

키워드 매개변수
<br>
* >  변수의 개수에 상관없이,,?? 들어오는 값들을 튜플로 저장....
<br>
** > 딕셔너리로 저장

In [2]:
def test4(x,*y,**z):
    return  x,y,z

test4(1.2,a=1)

(1.2, (), {'a': 1})

글로벌 변수

In [ ]:
def test3

In [4]:
add2=lambda i,j : i+j

In [6]:
type(add2)

function

In [7]:
test2 = lambda list1 : [i*3 for i in list1]

In [ ]:
test2(list(range(10)))

In [15]:
# 1. "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.
def print_coin():
    return "비트코인"

# 2. 1번에서 정의한 함수를 호출하라.
print_coin()

# 3. "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.
def print_coins():
    return print_coin() *100
    
print_coins()

'비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인'

In [17]:
# 4. 아래의 에러가 발생하는 이유에 대해 설명하라.

# hello()
# def hello():
#     print("Hi")
# 실행 예

# NameError: name 'hello' is not defined

# 정의하고 호출해라 이자삭아


# def hello():
#     print("Hi")
# hello()

Hi

In [18]:
# 5. 아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [19]:
# 6. 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [22]:
# 7. 아래와 같은 에러가 발생하는 원인을 설명하라.

# def test1(a) :
#     print(a)

# test1()
# TypeError: 함수() missing 1 required positional argument: '문자열'

# def test1(a) :
#     print(a)

# test1()

#test1에 입력값이 없잔아

# def test1(a) :
#     print(a)

# test1("ㄴㅇㄴㅇㄴ")

ㅁㅇ

In [24]:
# 8. 아래와 같은 에러가 발생하는 원인을 설명하라.
# def test2(a, b) :
#     print(a + b)

# test2("안녕", 3)
# TypeError: must be str, not int

#문자열과 정수형을 어떻게 더할라구..

def test2(a, b) :
    print(a + b)

test2("안녕", "세상아")

안녕세상아

In [26]:
# 9. 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의한 후 호출해보시오.

str1 = input()
def print_with_smile():
    print("{} :D".format(str1))
    

print_with_smile()

sd
sd :D

In [62]:
# 10. 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

price = (int)(input())

def print_upper_price(price) :
    return (int)(price  * 0.3)


print_upper_price(price)

# 11.두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.
x = (int)(input())
y = (int)(input())

def print_sum(a,b):
    return a+b

print_sum(x,y)

# 12.두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

i = (int)(input())
j = (int)(input())

def print_sum(a,b):
    print ("합 : {}, 차 : {}, 곱 : {}, 나 : {}".format(a+b,a-b,a*b,a/b))
    
print_sum(i,j)

456456
456456
456456
456456
456456
합 : 912912, 차 : 0, 곱 : 208352079936, 나 : 1.0

int

In [61]:
# 13. 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.
x = int(input())
y = int(input())
z = int(input())

def  print_max(x,y,z):
    max =x
    if max < y :
        max=y
    if max <z :
        max=z
    print(max)
    
print_max(x,y,z)

5846
5215
54
5846

int

In [ ]:
# 14. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

print_keys ({"이름":"김말똥", "나이":30, "성별":0})
# 이름
# 나이
# 성별

In [8]:
# 15. my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
# 16. 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
#     회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.



# calc_monthly_salary(12000000)
# 1000000

In [9]:

# 17. 아래 코드의 실행 결과를 예측하라.

# def my_print (a, b) :
#     print("왼쪽:", a)
#     print("오른쪽:", b)

# my_print(a=100, b=200)



# 18.아래 코드의 실행 결과를 예측하라.

# def my_print (a, b) :
#     print("왼쪽:", a)
#     print("오른쪽:", b)

# my_print(b=100, a=200)

 

# 19. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.



# 20. 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.



# 21. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.