In [1]:
f1 = open("test.txt",'a')

In [2]:
for i in range(10):
    data = "%d"%i
    f1.write(data)

In [3]:
f1.close()

In [4]:
f1 = open("test.txt",'a')
for i in range(10):
    data = "%d\n"%i
    f1.write(data)
    
f1.close()

In [5]:
f2 = open('test.txt', 'a')
for i in "abcdefghijk":
    f2.write(i+'\n')
f2.close()

In [6]:
f3 =open('test.txt', 'r')

#객체.readline()     : 한 줄 씩 읽어드린다.
#객체.eadlines()     : 각 라인의 내용을 요소로 해서 리스트로 결과를 돌려준다.
#객체.read()         : 파일 전체의 내용을 하나의 문자열로 결과를 돌려준다.

In [37]:
f3.readline()

''

In [38]:
f3 =open('test.txt', 'r')

In [39]:
f3.readlines()

["['lee', 24]\n",
 "['kim', 45]\n",
 'lee 24\n',
 'kim 45\n',
 'lee 24\n',
 'kim 45\n',
 "['sadfas', '123']\n",
 "['asdfas', '465']\n",
 '01234567890\n',
 '1\n',
 '2\n',
 '3\n',
 '4\n',
 '5\n',
 '6\n',
 '7\n',
 '8\n',
 '9\n',
 'a\n',
 'b\n',
 'c\n',
 'd\n',
 'e\n',
 'f\n',
 'g\n',
 'h\n',
 'i\n',
 'j\n',
 'k\n']

In [42]:
f3 =open('test.txt', 'r')
(f3.read()).replace('\n', " ")

"['lee', 24] ['kim', 45] lee 24 kim 45 lee 24 kim 45 ['sadfas', '123'] ['asdfas', '465'] 01234567890 1 2 3 4 5 6 7 8 9 a b c d e f g h i j k "

In [43]:
f3 =open('test.txt', 'r')

In [47]:
dic = {"name":"lee", "age":23, "dnlcl":"skfk"}
f4= open('est.txt','w')
key = list(dic.keys())
f4.write('{} {} {}'.format(key[0],key[1],key[2]))

14

In [48]:
with open('test.txt','w') as f5:
    key = list(dic.keys())
    f4.write('{} {} {}'.format(key[0],key[1],key[2]))

SyntaxError: incomplete input (3283994123.py, line 1)

In [96]:
# 파일 입출력 실습

# list1=[[1,2,3],[4,5,6],[7,8,9]] 를 아래와 같이 list1.txt에 저장 되도록 하시오.

# 1.2.3
# 4.5.6
# 7.8.9

list1=[[1,2,3],[4,5,6],[7,8,9]]

print(list1[0][0])

# f = open('list1.txt', 'w')
# for i in range(len(list1)):
#     f.write('\n')
#     for j in range(len(list1)):
#         f.write("{}.".format(list1[i][j]))

f = open('list1.txt', 'w')
for i in list1:
     f.write("{}.{}.{}\n".format(i[0],i[1],i[2]))
f.close()
f = open('list1.txt', 'r')
# 위에서 저장한 list1.txt 파일의 내용으로 list2=[[1,2,3],[4,5,6],[7,8,9]] 을 생성해보시오.
list2 = (f.readlines())
list2

1

['1.2.3\n', '4.5.6\n', '7.8.9\n']

In [5]:
# input()을 통해서 아래 내용이 info.txt 파일에 저장 되도록 하시오.

# 이름 나이 전화 지역
# kim  23   011  s
# lee  25   016  b
# park 26   019  d
# lim  30   017  k

info =1
name = 1
x = open('info.txt','w')
while info:
    name = input("나가기를 원하시면 '0'을 아니면\n이름 :")
    if name != '0':
        age=input("나이 : ")
        tel=input("전화 : ")
        local=input("지역 :")
        x.write("{} {} {} {}\n".format(name, age, tel, local))
    else:
        info = 0
        break
x.close()

나가기를 원하시면 '0'을 아니면
이름 :kim
나이 : 23
전화 : 011
지역 :a
나가기를 원하시면 '0'을 아니면
이름 :lee
나이 : 25
전화 : 016
지역 :b
나가기를 원하시면 '0'을 아니면
이름 :park
나이 : 26
전화 : 019
지역 :d
나가기를 원하시면 '0'을 아니면
이름 :lim
나이 : 30
전화 : 017
지역 :k
나가기를 원하시면 '0'을 아니면
이름 :0

In [32]:
menu = """
1. 이름검색
2. 정보 수정
3. 나가기
"""
x = open('info.txt','r')
list1 = x.read().split("\n")
list1.pop()
for i in range(len(list1)):
    list1[i] = list1[i].split(' ')
print(list1)

choice = input("원하시는 메뉴를 골라봐\n{}".format(menu))
if choice == '1':
    s_namenum=input("검색 이름 :")
    if s_namenum == "kim":
        print("이름 : {}".format(list1[0][0]))
        print("나이 : {}".format(list1[0][1]))
        print("전화 : {}".format(list1[0][2]))
        print("지역 : {}".format(list1[0][3]))

[['kim', '23', '011', 'a'], ['lee', '25', '016', 'b'], ['park', '26', '019', 'd'], ['lim', '30', '017', 'k']]
원하시는 메뉴를 골라봐

1. 이름검색
2. 정보 수정
3. 나가기
1
검색 이름 :kim
이름 : kim

In [44]:
x = open('info.txt','r')
list2 = x.read().split("\n")
list2.pop()
for i in range(len(list2)):
    list2[i] = list2[i].split(' ')
print(list2[0][1])
print(list2)


list2[0][].index("lee")

SyntaxError: invalid syntax (532480752.py, line 9)