In [5]:
def test1(x,y):
    return x,y

In [6]:
test1(y=2000, x=1)

(1, 2000)

In [8]:
def test2(*i):
    return i
test2(1,23,4,5)

(1, 23, 4, 5)

In [9]:
def test3(**j):
    return j

test3(a=1, name=4)

{'a': 1, 'name': 4}

In [10]:
test3 (name="lee", age=23, area="seoul")

{'name': 'lee', 'age': 23, 'area': 'seoul'}

In [11]:
def test5(i=100,j=200,k=300):
    return i,j,k
test5()

(100, 200, 300)

In [13]:
def test6(x,y):
    return x+y
    return x*y      #if문을 쓰면 골라 가능

test6(3,4)

7

In [15]:
def test1(a):
    a= a+1

test1(a)

a

NameError: name 'a' is not defined

In [17]:
def test2():
    a=1
    
test2()

In [18]:
a

NameError: name 'a' is not defined

In [ ]:
'''
def 함수명 (매개변수1,매개변수2) :
    return 표현식
'''
"""
함수명 = lambda 매개변수1,매개변수2: 표현식

단, 람다는 리턴값이 무조건 있어야되고 간결해야됨?
"""

In [22]:

# 아래 코드를 실행한 결과를 예상하라.
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: name 'result' is not defined

In [25]:
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

# make_url("naver")
# www.naver.com

def make_url(a):
    print("www.{}.com".format(a))
    
make_url("naver")

www.naver.com

In [26]:
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

# make_list("abcd")
# ['a', 'b', 'c', 'd']

def make_list(a):
    return list(a)

make_list("abcd")

['a', 'b', 'c', 'd']

In [33]:
# 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

# pickup_even([3, 4, 5, 6, 7, 8])
# [4, 6, 8]
sum=[]
def pickup_even(a) :
    for i in a :
        if i%2==0 :
            sum.append(i)
    return sum
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [46]:
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

# convert_int("1,234,567")
# 1234567

def convert_int(a):
    a = a.replace(",", "")
    b = list(a)

    # print(b)

    c=[]
    for i in b:
        c.append(int(i))

    return print(c)
    
convert_int("1,234,567")

[1, 2, 3, 4, 5, 6, 7]

In [47]:
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10) 
b = 함수(a)  
c = 함수(b)  
print(c)

22

In [48]:
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [49]:
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10) 
c = 함수2(a)  
print(c)

140

In [50]:
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [53]:
# 아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    
    return num * 2  

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10  
    return 함수1(num)

c = 함수2(2)
print(c)

28

In [97]:
# 생년월일를 어떠한 패턴을 입력하든지 출력값이 "19XX/XX/XX or 20XX/XX/XX" 되도록 하고 
# 올해 기준으로 알아서 나이가 계산되도록 함수를 코딩하라.

# 생년월일 : 770101 => 1977/02/21
#            010202 => 2001/02/02
#            1977.02.21
#            1977 02 21
# 	   77 02 21 => 1977 02 21
#            99-01-02 => 1999-01-02
#            770221   => 19770221


birth = input("생년월일을 입력해봐")

def wiya(birth):
    birth = birth.replace(" ", "")
    birth = birth.replace(",", "")
    birth = birth.replace("/", "")
    birth = birth.replace("-", "")
    birth = birth.replace(".", "")
    birth = birth.replace("~", "")
    birth = birth.replace("*", "")
    print(birth)

    if 6 != len(birth) and len(birth) :
        print("잘못 입력하셨습니다")
    else :
        bi = list(birth)

        print(bi)

        year = (bi[0]+bi[1])
        month = (bi[2]+bi[3])
        day = (bi[4]+bi[5])

        if bi[0] not in "012":
            print("19{}/{}/{}".format(year,month,day))
            y = int("19{}".format(year))
        else :
            print("20{}/{}/{}".format(year,month,day))
            y = int("20{}".format(year))
            
    return print("당신의 나이는 {}입니까? ".format(2023-y))


wiya(birth)

생년월일을 입력해봐930511
930511
['9', '3', '0', '5', '1', '1']
1993/05/11
당신의 나이는 30입니까?

In [ ]:

# 2개의 숫자를 입력하면 더하기, 빼기, 곱하기, 나누기를 하는 계산기 코딩을 하라. 
# (함수 작성 부분)
# 숫자 입력시 정수로 입력해야만 패스되도록 함수 설정
# 숫자 2개를 입력하면 4칙연산이 되도록 하는 부분 함수 설정

def calculator(x=input(),y=input()):
    
#isdigit() -- 숫자로 변환이야?

In [ ]:
open test